{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 align="center"><b>Andrew Brucella's Personal Wesbite</b></h1>
</div>
<div class="jumbotron">
  <h1><font color="green">Welcome To My Wesbite!</font></h1>
  <p>Thanks for visiting! Feel free to browse my site to learn more about who I am, or contact me if you would like. Enjoy!</p>
  <p><a href="{% url 'question_create' %}" class="btn btn-lg btn-primary">Contact Me</a>
    <a href="{% url 'jumbo' %}" class="btn btn-lg btn-danger">About Me</a></p>
  <p><a href="myfile.htm"><img src="static/andrew/andrew.jpg" align=right height="550" width="500"></a></p>
  <p><a href="myfile.htm"><img src="static/image/me.jpg" align=middle height="550" width="500"></a></p>
</div>
{% endblock %}